/* SPDX-License-Identifier: Apache-2.0 */
/* SPDX-FileCopyrightText: 2026 Finn Malte Hinrichsen */
/* Mitgelieferte Schriften: IBM Plex (SIL Open Font License 1.1, siehe vendor/schriften/OFL-*.txt), nur Latin-Teilmenge. */

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(vendor/schriften/ibm-plex-sans-condensed-latin-400-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(vendor/schriften/ibm-plex-sans-condensed-latin-500-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'IBM Plex Sans Condensed';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(vendor/schriften/ibm-plex-sans-condensed-latin-600-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(vendor/schriften/ibm-plex-mono-latin-400-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(vendor/schriften/ibm-plex-mono-latin-500-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(vendor/schriften/ibm-plex-serif-latin-400-italic.woff2) format('woff2');
}
